.playground-container {
  background-color: #1d1230;
  color: white;
  display: flex;
  align-items: center;
  padding: 40px;
}

.text-content {
  margin-left: 20px;
}

.text-content h1 {
  margin: 0;
  font-size: 28px;
}

.text-content p {
  color: #aaa;
  margin-top: 5px;
}
